<div id="main-container" class="container">
  <div class="row">
    <%= form_for(@business) do |f| %>
        <% if @business.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

              <ul>
                <% @business.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <% if @scheme_id %>
            <%= f.collection_select :scheme_id, Scheme.where(id: @scheme_id), :id, :name, {}, {class: "devise-lgn form-control", style: "display:none"} %>
        <% elsif @schemes %>
            <div class="field centre">
              <%= f.label 'Active Schemes', class: "devise-lgn" %>
              <%= f.collection_select :scheme_id, @schemes.where(active: true).order(:name), :id, :name, {include_blank: 'Select a Scheme'}, {id: 'scheme_id_select', class: "devise-lgn form-control"} %>
            </div>
        <% end %>

        <div class="field centre">
          <%= f.text_field :name, placeholder: 'Name', class: "devise-lgn form-control" %>
        </div>

        <div class="field centre">
          <%= f.text_field :company_number, placeholder: 'Company number', class: "devise-lgn form-control" %>
        </div>

        <div class="field centre">
          <%= f.text_field :scheme_ref, placeholder: 'Scheme Ref', class: "devise-lgn form-control" %>
        </div>

        <div class="field centre">
          <%= f.text_field :NPWD, placeholder: 'NPWD', class: "devise-lgn form-control" %>
        </div>

        <div class="field centre">
          <%= f.collection_select :sic_code_id, SicCode.all, :id, :code, {include_blank: 'Select a Sic Code'}, {class: "devise-lgn form-control"} %>
        </div>

        <div class="field centre">
          <%= f.select :year_first_reg, options_for_select(LookupValues::ValidYears.for('first_registered')), {prompt: true, prompt: 'First year registered?'}, class: "devise-lgn form-control" %>
        </div>

        <div class="actions centre">
          <%= f.submit 'Save', class: ["btn", "btn-primary", "devise-btn"] %>
        </div>
    <% end %>
  </div>
</div>
