<div id="main-container" class="container">
  <div class="row">
    <%= form_for(@business) do |f| %>
        <% if @business.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

              <ul>
                <% @business.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class='col-md-4 col-lg-6'>
          <div class="row">
            <div class='col-md-4 col-lg-6'></div>

            <div class='col-md-4 col-lg-6'>
              <% if @scheme_id %>
                  <%= f.collection_select :scheme_id, Scheme.where(id: @scheme_id), :id, :name, {}, {style: "display:none", class: "form-control"} %>
                  <% f.hidden_field :scheme_id, value: @scheme_id %>
              <% elsif @schemes %>
                  <div class="field centre">
                    <%= f.label 'Active Schemes' %>
                    <%= f.collection_select :scheme_id, @schemes.where(active: true).order(:name), :id, :name, {include_blank: 'Select a Scheme'}, {id: 'scheme_id_select', class: "form-control"} %>
                  </div>
              <% end %>
            </div>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'Membership ID' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.text_field :scheme_ref, placeholder: 'Scheme Membership ID', class: "form-control" %>
              </div>
            </div>
            </p>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'NPWD' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.text_field :NPWD, placeholder: 'NPWD', class: "form-control" %>
              </div>
            </div>
            </p>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'Business Type' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.collection_select :business_type_id, @business_types, :id, :name, {include_blank: 'Select a Business Type'}, {id: 'business_type_select', class: "form-control"} %>
              </div>
            </div>
            </p>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'Business Subtype' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.collection_select :business_subtype_id, @business_subtypes, :id, :name, {include_blank: 'Select a Business Subtype'}, {id: 'business_subtype_select', onchange: "return subsidiaryCo(this);", class: "form-control"} %>
              </div>
            </div>
            </p>
          </div>

          <div id='holding_companies'>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'Business name' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.text_field :name, placeholder: 'Name', class: "form-control" %>
              </div>
            </div>
            </p>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'Company Number' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.text_field :company_number, placeholder: 'Company number', class: "form-control" %>
              </div>
            </div>
            </p>
          </div>

        </div>
        <div class='col-md-4 col-lg-6'>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'SIC' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.collection_select :sic_code_id, SicCode.all, :id, :code, {include_blank: 'Select a Sic Code'}, {class: "form-control"} %>
              </div>
            </div>
            </p>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'Scheme status' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.collection_select :scheme_status_code_id, @scheme_status_codes, :id, :code, {include_blank: 'Select Scheme Status'}, {class: "form-control"} %>
              </div>
            </div>
            </p>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'Registration status' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.collection_select :registration_status_code_id, @registration_status_codes, :id, :code, {include_blank: 'Select Reg Status'}, {class: "form-control"} %>
              </div>
            </div>
            </p>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'Small producer?' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.select :small_producer, options_for_select([['Yes', true], ['No', false]], @business.small_producer), {include_blank: 'Select Yes or No'}, {class: "form-control"} %>
              </div>
            </div>
            </p>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'Country of registration' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.collection_select :country_of_business_registration_id, @country_of_business_registrations, :id, :country, {include_blank: 'Select a Country'}, {id: 'business_country_select', class: "devise-lgn form-control"} %>
              </div>
            </div>
            </p>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'Year of first reg' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.select :year_first_reg, options_for_select(LookupValues::ValidYears.for('first_registered')), {prompt: true, prompt: 'First year registered?'}, class: "form-control" %>
              </div>
            </div>
            </p>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'><%= f.label 'Year last registered' %></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.select :year_last_reg, options_for_select(LookupValues::ValidYears.for('first_registered')), {prompt: true, prompt: 'Last year registered?'}, class: "form-control" %>
              </div>
            </div>
            </p>
          </div>

          <div class="row">
            <p>

            <div class='col-md-4 col-lg-4'></div>
            <div class='col-md-4 col-lg-8'>
              <div class="field centre">
                <%= f.submit 'Save', class: 'btn btn-primary devise-btn' %>
              </div>
            </div>
            </p>
          </div>

    <% end %>
    </div>
  </div>
</div>
