<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header"><strong>Editing:</strong> <%= @business.name %></h3>

    <div class="card-block">
      <!--	<h4 class="card-title">Administration</h4>-->
      <div class="row">
        <%= form_for(@business) do |f| %>
            <% if @business.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

                  <ul>
                    <% @business.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <% if @schemes %>
                <div class="field centre">
                  <%= f.collection_select :scheme_id, @schemes.order(:name), :id, :name, {include_blank: 'Select a Scheme'}, {id: 'scheme_id_select', class: "devise-lgn form-control"} %>
                </div>
            <% end %>

            <div class="field centre">
              <%= f.text_field :name, placeholder: 'Name', class: "devise-lgn form-control" %>
            </div>

            <div class="field centre">
              <%= f.text_field :company_number, placeholder: 'Company number', class: "devise-lgn form-control" %>
            </div>

            <div class="field centre">
              <%= f.collection_select :scheme_id, @schemes.order(:name), :id, :name, {include_blank: 'Select a Scheme'}, {id: 'scheme_id_select', class: "devise-lgn form-control"} %>
            </div>

            <div class="field centre">
              <%= f.text_field :NPWD, placeholder: 'NPWD', class: "devise-lgn form-control" %>
            </div>

            <div class="field centre">
              <%= f.collection_select :sic_code_id, SicCode.all, :id, :code, {include_blank: 'Select a Sic Code'}, {class: "devise-lgn form-control"} %>
            </div>

            <div class="field centre">
              <%= f.text_field :year_first_reg, placeholder: 'Year first registered', class: "devise-lgn form-control" %>
            </div>

            <div class="actions centre">
              <%= f.submit 'Save', class: ["btn", "btn-primary", "devise-btn"] %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to 'Back', :back, class: ['btn btn-sm btn-success', 'show-btn-md'] %>
    </div>
  </div>
</div>
