<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header"><%= @business.name %></h3>
    <div class="card-block">
      <div class='col-md-4'>
        <div class="card card-block" style='height:150px'>
          <!--	<h4 class="card-title">Administration</h4>-->
          <div class="row">
            <div><strong>ID: </strong><%= @business.id.to_s %></div>
          </div>
          <div class="row">
            <div><strong>Name: </strong><%= @business.name if @business.name %></div>
          </div>
          <div class="row">
            <div><strong>Membership ID: </strong><%= @business.membership_id.to_s %></div>
          </div>
          <div class="row">
            <div><strong>Company No: </strong><%= @business.company_no.to_s %></div>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class="card card-block" style='height:150px'>
          <!--	<h4 class="card-title">Administration</h4>-->
          <div class="row">
            <div><strong>NPWD: </strong><%= @business.NPWD.to_s %></div>
          </div>
          <div class="row">
            <div><strong>SIC: </strong><%= @business.SIC if @business.name %></div>
          </div>
          <div class="row">
            <div><strong>Scheme: </strong><%= @business.scheme.name %></div>
          </div>
          <div class="row">
            <div><strong></strong></div>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class="card card-block" style='height:150px'>
          <!--	<h4 class="card-title">Administration</h4>-->
        </div>
      </div>
    </div>
    <div class="card-footer">
      <% if can? :edit, @business %>
          <%= link_to 'Edit', edit_business_path(@business), class: ['btn btn-sm btn-warning', 'show-btn-md'] %>
      <% end %>
      <% if can? :destroy, @business %>
        <%= link_to 'Destroy', @business, {method: :delete, class: ['btn btn-sm btn-danger', 'show-btn-md'], data: {confirm: 'Are you sure?'}} %>
      <% end %>
      <%= link_to 'Back', businesses_path, class: ['btn btn-sm btn-success', 'show-btn-md'] %>
    </div>
  </div>
</div>
