<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header"><%= @business.name %></h3>

    <div class="card-block">
      <% if can? :read, @business %>
          <div class='col-md-4'>
            <div class="card card-block" style='height:150px'>
              <!--	<h4 class="card-title">Administration</h4>-->

              <div class="row">
                <div><strong>ID: </strong><%= @business.id.to_s %></div>
              </div>
              <div class="row">
                <div><strong>Name: </strong><%= @business.name if @business.name %></div>
              </div>
              <div class="row">
                <div><strong>Company No: </strong><%= @business.company_number.to_s %></div>
              </div>
            </div>
          </div>
          <div class='col-md-4'>
            <div class="card card-block" style='height:150px'>
              <!--	<h4 class="card-title">Administration</h4>-->
              <div class="row">
                <div><strong>NPWD: </strong><%= @business.NPWD.to_s %></div>
              </div>
              <div class="row">
                <div><strong>SIC: </strong><%= SicCode.find(@business.sic_code_id).code %></div>
              </div>
              <div class="row">
                <div><strong>Membership ID: </strong><%= @business.scheme_ref.to_s %></div>
              </div>
              <div class="row">
                <div><strong>Scheme: </strong><%= @business.scheme.name %></div>
              </div>
              <div class="row">
                <div><strong></strong></div>
              </div>
            </div>
          </div>
          <div class='col-md-4'>
            <div class="card card-block" style='height:150px'>
              <!--	<h4 class="card-title">Administration</h4>-->
              <% if can? :new, CompanyOperators::InvitationsController && (current_admin || current_scheme_operator) %>
                  <%= link_to 'Invite Contact Operator',
                              new_company_operator_invitation_path,
                              class: ['btn btn-sm btn-primary', 'devise-btn'],
                              id: "#{@business.id}-invite_company_operator" %>
              <% end %>
              <% if can? :read, Contact %>
                  <%= link_to 'Contacts',
                              business_contacts_path(business_id: @business.id),
                              class: ['btn btn-sm btn-primary', 'devise-btn'] %>
              <% end %>
            </div>
          </div>
      <% else %>
          <div class="card-block">
            <p class="card-text">You are not authorised to view this Member</p>
          </div>
      <% end %>
    </div>
    <div class="card-footer">
      <%= link_to 'Members List', businesses_path(scheme_id: @business.scheme.id), class: ['btn btn-sm btn-outline-primary', 'show-btn-lg'] %>
      <% if can? :edit, @business %>
          <%= link_to 'Edit', edit_business_path(@business), class: ['btn btn-sm btn-warning', 'show-btn-md'] %>
      <% end %>
      <% if can? :destroy, @business %>
          <%= link_to 'Delete', @business, {method: :delete, class: ['btn btn-sm btn-danger', 'show-btn-md'], data: {confirm: 'Are you sure?'}} %>
      <% end %>
    </div>
  </div>
</div>
