<div class="container" style='margin-top:30px'>
  <% if can? :new, SchemeOperatorsScheme %>
      <%= link_to 'Link an existing Scheme Operator to this scheme', new_scheme_scheme_operators_scheme_path, class: ['btn btn-sm btn-primary', 'show-btn-lg'], style: 'margin-bottom: 5px' %>
  <% end %>
  <div class="row">
    <div class="card">
      <h3 class="card-header">Listing Scheme Operators for <%= @scheme.name %></h3>

      <div class="card-block">

        <% @scheme_operators_schemes.each do |scheme_operators_scheme| %>
            <div class="row">

              <div class="col-lg-1">
                <% if (can? :destroy, scheme_operators_scheme) && scheme_operators_scheme.scheme_operator_id != @current_user.id %>
                    <p><%= link_to 'De-link', scheme_scheme_operators_scheme_path(id: scheme_operators_scheme.id), method: :delete, data: {confirm: 'Are you sure?'}, class: ['btn btn-sm btn-danger', 'show-btn-lg'] %></p>
                <% end %>
              </div>

              <div class="col-lg-6">
                <p><%= scheme_operators_scheme.scheme_operator.email %></p>
              </div>

              <div class="col-lg-5"></div>
            </div>

        <% end %>
      </div>
      <div class="card-footer">
        <% if can? :read, @scheme.scheme_operators_schemes.first %>
            <%= link_to 'Back to Scheme', @scheme, class: ['btn btn-sm btn-outline-primary', 'show-btn-lg'] %>
        <% end %>
      </div>
    </div>
  </div>
</div>