<% title "Sign up" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field centre">
    <%= f.email_field :email, placeholder: "Email", class: "devise-lgn form-control", autofocus: true %>
  </div>

  <div class="field centre">
    <%= f.password_field :password, placeholder: "Password", class: "devise-lgn form-control", autocomplete: "off" %>
  </div>

  <div class="field centre">
    <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "devise-lgni form-control", autocomplete: "off" %>
  </div>

  <% if self.devise_mapping.class_name == 'SchemeOperator' %>
    <div class="field centre">
      <%= f.collection_select :scheme_ids, Scheme.order(:name), :id, :name,{}, { multiple: true, class: "devise-lgn form-control" } %>
    </div>
  <% end %>


  <div class="actions centre">
    <%= f.submit "Sign up", class: ["btn", "btn-success", "devise-btn"] %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
