<%= form_tag admin_update_permissions_path, method: 'put', :id => params[:admin_id] do %>
  <div class="roles">
    <h3>User Roles</h3>
    <ul>
      <% @available_roles.each do |role| %>
        <li>
          <%= radio_button_tag "role", role, @user.role_list.include?(role) -%>
          <%= h role.capitalize -%>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="permissions">
    <h3>User Permissions</h3>
    <ul>
      <% @available_permissions.each do |permission| %>
        <% checked_disabled = @user.role_list.include? permission %>
        <li>
          <%= check_box_tag "permissions[]", permission, @user.role_list.include?(permission) -%>
          <%= h permission.capitalize -%>
        </li>
      <% end %>
    </ul>

  </div>
  <%= submit_tag "Save Permissions" -%>
<% end %>
