<% if current_admin %>
    <div class="card">
      <h3 class="card-header"><%= "Rails Env: #{Rails.env}" %></h3>
      <div class="card">
      <div class="card-block">
        <h4 class="card-title">Mail Configuration</h4>

        <p class="card-text">

        <div class="col-xs-12 col-md-4 col-lg-1"></div>
        <div class="col-xs-12 col-md-4 col-lg-5">
          <div class="row">

            <p><strong>SchemeMailer SMTP settings:</strong><%= debug(SchemeMailer.smtp_settings) %></p>

            <p><strong> SchemeMailer.default_url_options: </strong><%= debug(SchemeMailer.default_url_options) %></p>

            <p><strong>SchemeMailer Delivery Method:</strong> <%= debug(SchemeMailer.delivery_method) %></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-5">
          <div class="row">

            <p><strong>Devise::Mailer SMTP settings:</strong><%= debug(Devise::Mailer.smtp_settings) %></p>

            <p><strong>Devise::Mailer Default Url Options:</strong><%= debug(Devise::Mailer.default_url_options) %></p>

            <p><strong>Devise::Mailer Delivery Method:</strong><%= debug(Devise::Mailer.delivery_method) %></p>

          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-1"></div>
      </div>
        </div>
      </p>
      <div class="card-footer">
      </div>
    </div>
<% else %>
    <div class="row" xmlns="http://www.w3.org/1999/html">
      <div class="col-sm-12 text-xs-center bootstrap-welcome">
        <h1>Welcome to PWPR</h1>

        <p class="lead">The cloud based solution to calculate your scheme's</p>

        <p class="lead"><strong>P</strong>ackaging <strong>W</strong>aste <strong>P</strong>roducer <strong>R</strong>esponsibilities
        </p>
      </div>
    </div>
<% end %>