<%= form_for(@scheme) do |f| %>
  <% if @scheme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheme.errors.count, "error") %> prohibited this scheme from being saved:</h2>
      <ul>
      <% @scheme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, placeholder: 'Name', class: "devise-lgn form-control" %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: ["btn", "btn-success", "devise-btn"] %>
  </div>
<% end %>
