<h1 class='centre'>Schemes</h1>

<div class="container" style='margin-top:30px'>
  <% if can? :new, Scheme %>
    <%= link_to 'New Scheme', new_scheme_path, class: ['btn btn-sm btn-primary', 'show-btn-lg'], style: 'margin-bottom:5px' %>
  <% end %>
  <% if can? :new, SchemeOperators::InvitationsController %>
    <%= link_to 'Invite Operators', new_scheme_operator_invitation_path,
                    class: ['btn btn-sm btn-primary', 'show-btn-lg'], style: 'margin-bottom:5px' %>
  <% end %>

  <% if @schemes.any? %>
    <% @schemes.each do |scheme| %>
      <div class="row">
        <div class="card">
          <h3 class="card-header"><%= scheme.name %>
            (<%= scheme.active ? 'active' : 'not active' %>)</h3>
          <% if can? :read, scheme %>
            <div class="card-block">
              <p class="card-text">

                <div class="col-xs-12 col-md-4 col-lg-1">
                  <% if can? :read, scheme %>
                    <%= link_to 'Details', scheme, class: ['btn btn-sm btn-info', 'show-btn-md'] %>
                  <% end %>
                  <% if can? :destroy, scheme %>
                    <%= link_to 'Delete', scheme, {method: :delete, class: ['btn btn-sm btn-danger', 'show-btn-md'], data: {confirm: 'Are you sure?'}} %>
                  <% end %></div>
                <div class="col-xs-12 col-md-4 col-lg-5">

                  <div class="row"></div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-5">
                  <div class="row"></div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-1"></div>
              </div>
            </p>
          <% else %>
            <div class="card-block">
              <p class="card-title">Scheme requires activating, please contact Vivoxa Ltd</p>
            </div>
          <% end %>
        <div class="card-footer"></div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="card">
        <h4 class="card-header"></h4>

        <div class="card-block">
          <p class="card-text">No schemes to show</p>
        </div>

        <div class="card-footer"></div>
      </div>
    </div>
  <% end %>
</div>
