<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scheme.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @scheme.active %>
</p>

<%= link_to 'Edit', edit_scheme_path(@scheme) %> |
<%= link_to 'Back', schemes_path %>
