<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header"><%= @scheme.name %></h3>
    <% if can? :read, @scheme %>
        <div class="card-block">
          <p class="card-text">
          <div class="col-lg-6">
            <div class="row">
              <% if can? :new, Business %>
                <%= link_to 'New Member', new_business_path(scheme_id: @scheme.id), class: ['btn btn-sm btn-primary btn-block btn-group', 'show-btn-lg']%>
              <% end %>
            </div>
            <div class="row">

                  <%= link_to 'Manage SchemeOperator to Scheme Links',
                              scheme_scheme_operators_schemes_path({ scheme_id: @scheme.id }),
                              class: ['btn btn-sm btn-primary btn-block btn-group', 'show-btn-lg'] %>

            </div>
            <div class="row">
              <% if can? :new, CompanyOperators::InvitationsController %>
                  <%= link_to 'Invite Contact Operator',
                              new_company_operator_invitation_path({ scheme_id: @scheme.id }),
                              class: ['btn btn-sm btn-primary btn-block btn-group', 'show-btn-lg'],
                              id: "#{@scheme.id}-invite_company_operator" %>
              <% end %>
            </div>
            <div class="row">
              <% if can? :new, SchemeOperators::InvitationsController %>
                  <%= link_to 'Invite Scheme Operator', new_scheme_operator_invitation_path({ scheme_id: @scheme.id }),
                              class: ['btn btn-sm btn-primary btn-block btn-group', 'show-btn-lg'],
                              id: "#{@scheme.id}-invite_scheme_operator" %>
              <% end %>
            </div>
            <div class="row">
              <% if can? :read, AgencyTemplateUpload %>
                  <%= link_to 'Template Uploads', scheme_agency_template_uploads_path(@scheme), class: ['btn btn-sm btn-success btn-block btn-group', 'show-btn-lg'] %>
              <% end %>
            </div>
            <div class="row">
              <% if can? :create, ReportsController %>
                  <%= link_to 'Reports', scheme_reports_path(@scheme.id), class: ['btn btn-sm btn-success btn-block btn-group', 'show-btn-lg'] %>
              <% end %>
            </div>
            <div class='row'>
            </div>
          </div>
        </div>
        </p>
    <% else %>
        <div class="card-block">
          <p class="card-title">Scheme requires activating, please contact Vivoxa Ltd</p>
        </div>
    <% end %>

    <div class="card-footer">
      <%= link_to 'Schemes List', schemes_path, class: ['btn btn-sm btn-outline-primary', 'show-btn-lg'] %>
      <% if can? :new, Business %>
          <%= link_to 'Members', businesses_path(scheme_id: @scheme.id), class: ['btn btn-sm btn-outline-primary', 'show-btn-md'] %>
      <% end %>
      <% if can? :edit, @scheme %>
          <%= link_to 'Edit', edit_scheme_path(@scheme), class: ['btn btn-sm btn-warning', 'show-btn-md'] %>
      <% end %>
      <% if can? :destroy, @scheme %>
          <%= link_to 'Delete', @scheme, {method: :delete, class: ['btn btn-sm btn-danger', 'show-btn-md'], data: {confirm: 'Are you sure?'}} %>
      <% end %>
    </div>
  </div>
</div>
