<div id="main-container" class="container">
  <div class="card">
    <% @scheme_name = @scheme ? @scheme.name : '' %>
    <h3 class="card-header"><center><%= "Invite Scheme Operator: #{@scheme_name}" %></center></h3>

    <div class="card-block">
      <p class="card-text">
        <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
          <%= devise_error_messages! %>

          <% resource.class.invite_key_fields.each do |field| -%>
            <div class="field centre">
              <% if field.to_s.downcase.include?('email') %>
                  <%= f.email_field field, placeholder: field, class: "devise-lgn form-control" %></p>
              <% else %>
                  <%= f.text_field field, placeholder: field, class: "devise-lgn form-control" %></p>
              <% end %>
            </div>
          <% end -%>
          <div class="field centre">
            <% if @scheme_id %>
              <%= f.collection_select :scheme_ids, Scheme.where(id: @scheme_id), :id, :name, {}, {class: "devise-lgn form-control", style: "display:none"} %>
            <% elsif params[:scheme_operator] && params[:scheme_operator][:scheme_ids] && !params[:scheme_operator][:scheme_ids].is_a?(Array) %>
              <%= f.collection_select :scheme_ids, Scheme.where(id: params[:scheme_operator][:scheme_ids].to_i), :id, :name, {}, {class: "devise-lgn form-control", style: "display:none"} %>
            <% else %>
              <%= f.label 'Active Schemes', class: "devise-lgn" %>
              <%= f.collection_select :scheme_ids, @schemes.where(active: true).order(:name), :id, :name, {}, {multiple: true, class: "devise-lgn form-control", style: "min-height:#{@schemes.count * 25}px"} %>
            <% end %>
          </div>
          <div class="action centre">
            <p><%= f.submit t("devise.invitations.new.submit_button"), class: ["btn", "btn-success", "devise-btn"] %></p>
          </div>
        <% end %>
      </p>
    </div>
    <div class="card-footer">
      <% path = @scheme ? @scheme : schemes_path %>
      <%= link_to 'Back', path, class: ['btn btn-sm btn-outline-primary', 'show-btn-lg'] %>
    </div>
  </div>
</div>
