<div id="main-container" class="container">
  <%= render partial: './partials/users/show', locals: {user: @scheme_operator} %>

  <div class="card-footer">
    <%= link_to 'Operators List', scheme_operators_path, class: ['btn btn-sm btn-outline-primary', 'show-btn-lg'] %>
    <% if can? :edit, @scheme_operator %>
        <%= link_to 'Edit', edit_scheme_operator_path(params[:id]), class: ['btn btn-sm btn-warning', 'show-btn-md'] %>
    <% end %>
    <% if can? :permissions, @scheme_operator %>
        <%= link_to 'Permissions', scheme_operator_permissions_path(scheme_operator_id: params[:id]), class: ['btn btn-sm btn-primary', 'show-btn-md'] %>
    <% end %>
    <% if can? :destroy, @scheme_operator %>
      <%= link_to 'Delete', @scheme_operator,{ method: :delete, class: ['btn btn-sm btn-danger', 'show-btn-md'], data: { confirm: 'Are you sure?' }} %>
    <% end %>
  </div>
</div>
