<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header">
      <center>Edit Small Producer Details for <%= @business.name %></center>
    </h3>
    <div class="card-block">
      <%= form_for @small_producer, url: {action: 'update'}, html: { method: :put } do |f|%>
        <% @small_producer.form_fields.each do |field| %>
          <div class='row'>
            <div class='col-md-6' align='right'>
              <strong>
                <% if field.to_s.gsub!(/_/, ' ') %>
                  <%= field.to_s.gsub!(/_/, ' ').split.map(&:capitalize).join(' ') %>
                <% else %>
                  <%= field.to_s.capitalize %>
                <% end %>
              </strong>
            </div>
            <div class='col-md-6'><%= f.text_field field %></div>
          </div>
        <% end %>
        <center><%= f.submit 'Save', class: ["btn", "btn-primary", "devise-btn"] %></center>
      <% end %>
    </div>
    <div class="card-footer">
      <%= link_to 'Back to Member', @business , class: ['btn btn-sm btn-outline-primary', 'show-btn-lg'] %>
    </div>
  </div>
</div>
