<div id="main-container" class="container">
  <%= render partial: './partials/users/show', locals: {user: @company_operator} %>
  <% if can? :permissions, @company_operator %>
    <%= link_to 'Permissions', company_operator_permissions_path(company_operator_id: params[:id]), class: ['btn btn-sm btn-primary', 'show-btn-md'] %>
  <% end %>
  <% if can? :edit, @company_operator %>
    <%= link_to 'Edit', edit_company_operator_path(@company_operator.id), class: ['btn btn-sm btn-warning', 'show-btn']  %>
  <% end %>
  <% if can? :destroy, @company_operator %>
    <%= link_to 'Destroy', @company_operator,{ method: :delete, class: ['btn btn-sm btn-danger', 'show-btn-md'], data: { confirm: 'Are you sure?' }} %>
  <% end %>
  <%= link_to 'Back', company_operators_path, class: ['btn btn-sm btn-success', 'show-btn-md'] %>
</div>