<div class="container" style='margin-top:30px'>
  <h1>Listing Contacts for <%= @business.name %></h1>

  <div class="row">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <% if can? :read, Contact %>
              <%= link_to 'Back to Member', @business, class: ['btn btn-sm btn-outline-primary'] %>
          <% end %>
          <% if can? :create, Contact %>
              <%= link_to 'New Contact', new_business_contact_path, class: ['btn btn-sm btn-primary'] %>
          <% end %>
        </div>
      </div>
      <% @contacts.each do |contact| %>
          <div class="card-block">

            <div class="col-xs-12 col-md-2 col-lg-12">
              <div class="card">
                <div class="card-block">
                  <div class="row">
                    <div class="col-xs-12 col-md-2 col-lg-2"><strong>Contact Type</strong></div>
                    <div class="col-xs-12 col-md-2 col-lg-1"><strong>Title</strong></div>
                    <div class="col-xs-12 col-md-2 col-lg-2"><strong>First Name</strong></div>
                    <div class="col-xs-12 col-md-2 col-lg-2"><strong>Last Name</strong></div>
                    <div class="col-xs-12 col-md-2 col-lg-5"></div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-2 col-lg-2"><%= contact.address_type.title %></div>
                    <div class="col-xs-12 col-md-2 col-lg-1"><%= contact.title %></div>
                    <div class="col-xs-12 col-md-2 col-lg-2"><%= contact.first_name %></div>
                    <div class="col-xs-12 col-md-2 col-lg-2"><%= contact.last_name %></div>
                    <div class="col-xs-12 col-md-2 col-lg-5">
                      <% if can? :read, Contact %>
                          <%= link_to 'Show', business_contact_path(id: contact.id), class: ['btn btn-sm btn-info'] %>
                      <% end %>
                      <% if can? :update, Contact %>
                          <%= link_to 'Edit', edit_business_contact_path(id: contact.id), class: ['btn btn-sm btn-warning'] %></div>
                      <% end %>
                      </div>
                </div>
              </div>
            </div>

          </div>
      <% end %>
    </div>
  </div>
</div>
