<div id="main-container" class="container">
  <h3>Scheme Operators</h3>

  <div class="row">
    <div class="card">
      <div class="card-header">
        <%= render partial: tab_partial %>
      </div>
      <%- @schemes.each do |scheme, details| %>
      <div class="card">
        <div class="card-header">
          <center>
            <h3><%= details[:name] %></h3>
          </center>
        </div>
        <%- if details[:users].empty? %>
        <div class="card-block">
          <center>
            <h4>None</h4>
          </center>
        </div>
      <%- else %>
        <div class="card-block" style='min-height:300px'>
          <h4 class="card-title"></h4>
          <%- details[:users].each do |user| %>
            <div class="card card-outline-secondary">
              <div class="card-header"></div>
              <div class="card-block " style='height:150px'>
                <div class="row">
                  <div class="col-md-2">
                    <strong>Last Name</strong>
                  </div>
                  <div class="col-md-2">
                    <strong>First Name</strong>
                  </div>
                  <div class="col-md-4">
                    <strong>E-mail</strong>
                  </div>
                  <div class="col-md-2">
                    <strong>Scheme</strong>
                  </div>
                  <div class="col-md-2"></div>

                </div>
                <div class="row">
                  <div class="col-md-2"><%= user.last_name.to_s if user.last_name %></div>
                  <div class="col-md-2"><%= user.first_name.to_s if user.first_name %></div>
                  <div class="col-md-4"><%= user.email.to_s %></div>
                  <div class="col-md-2">
                    <% user.schemes.each do |s| %>
                    <div class='row'>
                      <%= s.name %>
                    </div>
                    <% end %>
                  </div>
                  <div class="col-md-2">
                    <% if tab_partial.include?('pending') && user.approved? == false && (can? :approve, SchemeOperator) %>
                    <%= link_to 'Approve', scheme_operator_approve_path(scheme_operator_id: user.id), class: ['btn btn-sm btn-success', 'show-btn-md'] %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <% if can? :read, user %>
                <%= link_to 'Details', user, class: ['btn btn-sm btn-info', 'show-btn-md'] %>
                <% end %>
                <% if can? :permissions, user %>
                <%= link_to 'Permissions', scheme_operator_permissions_path(scheme_operator_id: user.id), class: ['btn btn-sm btn-primary', 'show-btn-md'] %>
                <% end %>
                <% if can? :destroy, user %>
                <%= link_to 'Delete', user, {method: :delete, class: ['btn btn-sm btn-danger', 'show-btn-md'], data: {confirm: 'Are you sure?'}} %>
                <% end %>
              </div>
            </div>
          <%- end %>
        </div>
        <%- end %>
      </div>
      <%- end %>
    </div>
  </div>
</div>
