<% @enabled = user_type == CompanyOperator ? '' : 'disabled' %>
<% @active_is_active = active ? 'active' : '' %>
<% @pending_is_active = pending ? 'active' : '' %>
<div id="main-container" class="container">

  <h3><%= user_type.to_s %></h3>


  <div class="row">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs pull-xs-left">
          <li class="nav-item">
            <a class="nav-link <%= @active_is_active %>" href=<%= url %>>Active</a>
          </li>
          <li class="nav-item">
            <% if user_type == CompanyOperator %>
                <% @enabled = '' %>
                <% @pending_tab_href = 'href=' + pending_company_operators_path %>
            <% else %>
                <% @enabled = 'disabled' %>
                <% @pending_tab_href = '' %>
            <% end %>
            <a class="nav-link" <%= @enabled %> <%= @pending_is_active && @pending_tab_href %>>Pending</a>
          </li>
        </ul>
      </div>
      <div class="card-block" style='min-height:500px'>
        <h4 class="card-title"></h4>
        <%- users.each do |user| %>
            <div class="card card-outline-secondary">
              <div class="card-header"></div>
              <div class="card-block" style='height:150px'>
                <div class="row">
                  <div class="col-md-3"><strong>Name</strong></div>
                  <div class="col-md-5"><strong>Email</strong></div>
                  <div class="col-md-2"><strong>Scheme</strong></div>
                  <div class="col-md-2"><strong><%= 'Business' if user.is_a? CompanyOperator %></strong></div>
                </div>
                <div class="row">

                  <div class="col-md-3"><%= user.first_name.to_s if user.first_name %></div>
                  <div class="col-md-5"><%= user.email.to_s %></div>
                  <% if user.is_a? SchemeOperator %>

                      <div class="col-md-2">
                        <% user.schemes.each do |s| %>
                            <div class='row'>
                              <%= s.name %>
                            </div>
                        <% end %>
                      </div>
                  <% elsif user.is_a? CompanyOperator %>
                      <div class="col-md-2">
                        <% user.business.scheme.name %>
                      </div>
                  <% else %>
                      <div class="col-md-2">'N/A'</div>
                  <% end %>

                  <div class="col-md-2"><%= user.business.name if user.is_a? CompanyOperator %></div>
                </div>
              </div>
              <div class="card-footer">
                <% if can? :read, user %>
                    <%= link_to 'Details', user, class: ['btn btn-sm btn-info', 'show-btn'] %>
                <% end %>
                <% if can? :destroy, user %>
                    <%= link_to 'Destroy', user, {method: :delete, class: ['btn btn-sm btn-danger', 'show-btn'], data: {confirm: 'Are you sure?'}} %>
                <% end %>
              </div>
            </div>
        <%- end %>
      </div>
      <div class="card-footer">

      </div>
    </div>
  </div>
</div>
