<% @enabled = user_type == CompanyOperator ? '' : 'disabled' %>
<% @active_is_active = active ? 'active' : '' %>
<% @pending_is_active = pending ? 'active' : '' %>
<div id="main-container" class="container">
  <h3><%= user_type.to_s %></h3>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs pull-xs-left">
          <li class="nav-item">
            <a class="nav-link <%= @active_is_active %>" href=<%= url %>>Active</a>
          </li>
          <li class="nav-item">
            <% @enabled = user_type == CompanyOperator ? '' : 'disabled' %>
            <a class="nav-link <%= @enabled %> <%= @pending_is_active %>" href=<%= pending_company_operators_path %>>Pending</a>
          </li>
        </ul>
      </div>
      <div class="card-block" style='min-height:500px'>
        <h4 class="card-title"></h4>

        <%- users.each do |user| %>
        <div class="card-header">

           <div class="row">
             <div class="col-md-1"><strong>Name</strong></div>
             <div class="col-md-4"><strong>Email</strong></div>
             <div class="col-md-2"><strong>Scheme</strong></div>
             <div class="col-md-5"></div>
           </div>
         </div>
            <div class="card card-block" style='height:150px'>
          <div class="row">

            <div class="col-md-1"><%= user.name.to_s if user.name %></div>
            <div class="col-md-4"><%= user.email.to_s %></div>
            <% if user.is_a? SchemeOperator %>
              <% @user_scheme = user.schemes.map{|s| s.id} %>
            <% elsif user.is_a? CompanyOperator %>
              <% @user_scheme = user.business.scheme.name %>
            <% else %>
              <% @user_scheme = 'N/A' %>
            <% end %>
            <div class="col-md-2"><%= @user_scheme %></div>
            <div class="col-md-4"></div>
            <div class="col-md-1">
              <div class="row">
                <% if can? :read, user %>
                  <%= link_to 'Details', user, class: ['btn btn-sm btn-success', 'show-btn'] %>
                <% end %>
              </div>
              <div class="row">
                <% if can? :edit, user %>

                  <% if  user.is_a? SchemeOperator %>
                    <%= link_to 'Edit', edit_scheme_operator_path(user), class: ['btn btn-sm btn-success', 'show-btn']  %>
                  <% end %>

                  <% if  user.is_a? CompanyOperator %>
                    <%= link_to 'Edit', edit_company_operator_path(user), class: ['btn btn-sm btn-success', 'show-btn']  %>
                  <% end %>

                  <% if  user.is_a? Admin %>
                    <%= link_to 'Edit', edit_admin_path(user), class: ['btn btn-sm btn-success', 'show-btn']  %>
                  <% end %>

                <% end %>
              </div>
              <div class="row">
              <% if can? :destroy, user %>
                <%= link_to 'Destroy', user,{ method: :delete, class: ['btn btn-sm btn-danger', 'show-btn'], data: { confirm: 'Are you sure?' }} %>
              <% end %>
            </div>
            </div>
            </div>
          </div>
        <%- end %>

      </div>
      <div class="card-footer">
        <%= render partial: './partials/users/user_links', locals: { company_operator_link: company_operator_link, scheme_operator_link: scheme_operator_link, admin_link: admin_link } %>
      </div>
    </div>
  </div>
</div>
