<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>

    <p><%= @intro %></p>

    <h3><%= @title %></h3>

    <% @body_lines.each do |line| %>
      <p><%= line %></p>
    <% end %>

    <p>
    <% @address_details.each do |line| %>
      <%= line %></br>
    <% end %>
    </p>

    <p><%= @footer %></p>
  </body>
</html>
