<h2 class='centre-wide'><%= "Agency Templates for #{@scheme.name}" %></h2>

<div class="container" style='margin-top:30px'>
  <div class="row">
    <% if can? :new, AgencyTemplateUpload %>
        <%= link_to 'New Upload', new_scheme_agency_template_upload_path, class: ['btn btn-sm btn-primary', 'devise-btn'] %>
    <% end %>
    <% if @uploads.any? %>
        <%= link_to 'Back', scheme_path(@uploads.first), class: ['btn btn-sm btn-success', 'show-btn-md'] %>
    <% end %>
  </div>
  <% if @uploads.any? %>
      <% @uploads.each do |upload| %>
          <div class="row">
            <div class="card">
              <h4 class="card-header"><%= upload.filename %></h4>

              <div class="card-block">
                <p class="card-text">

                <div class="col-xs-3 col-md-3"><strong>Year:</strong> <%= upload.year %></div>

                <div class="col-xs-5 col-md-5">
                  <strong>Uploader:</strong> <%= Object.const_get(upload.uploaded_by_type).find_by_id(upload.uploaded_by_id).email %>
                </div>
                <div class="col-xs-4 col-md-4"><strong>Uploaded at:</strong> <%= upload.uploaded_at %></div>
                </p>

                <p class="card-text">

                <div class="col-xs-3 col-md-3"><strong>Scheme:</strong> <%= Scheme.find_by_id(upload.scheme_id).name %>
                </div>
                <div class="col-xs-5 col-md-5"><strong>Uploader Type:</strong> <%= upload.uploaded_by_type %></div>
                <div class="col-xs-4 col-md-4"><strong>Status:</strong> <%= upload.status %></div>
                </p>
              </div>

              <div class="card-footer">
                <div class="row">
                  <% if can? :read, AgencyTemplateUpload %>
                      <%= link_to 'Details', scheme_agency_template_upload_path(id: upload.id), class: ['btn btn-sm btn-info', 'devise-btn'] %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% else %>
      <div class="row">
        <div class="card">
          <h4 class="card-header"></h4>

          <div class="card-block">
            <p class="card-text">No Agency Templates to show</p>
          </div>

          <div class="card-footer">
          </div>
        </div>
      </div>
  <% end %>
</div>
