<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header">Agency Template Upload</h3>
    <%= form_for [@scheme, @upload] do |f| %>
      <div class="card-block">
        <% if @upload.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this file from uploading:</h2>
            <ul>
            <% @upload.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class='row'>
          <p class="card-text">
            <div class="col-xs-4 col-md-4"></div>
            <div class="col-xs-4 col-md-4"><strong>Upload for:</strong> <%= @scheme.name %></div>
            <div class="col-xs-4 col-md-4"></div>
          </p>
        </div>

        <div class='row'>
          <p class="card-text">
            <div class="col-xs-4 col-md-4"></div>
            <div class="col-xs-4 col-md-4">
              <%= f.text_field :year, placeholder: 'Year', class: "devise-lgn form-control" %>
            </div>
            <div class="col-xs-4 col-md-4"></div>
          </p>
        </div>

        <div class='row'>
          <p class="card-text">
            <div class="col-xs-4 col-md-4"></div>
            <div class="col-xs-4 col-md-4"><%= f.file_field :filename %></div>
            <div class="col-xs-4 col-md-4"></div>
          </p>
        </div>

        <div class="card-footer">
          <%= f.submit 'Upload', class: ["btn", "btn-success", "devise-btn"] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
