<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header">
      <center>Edit Small Producer Details for <%= @business.name %></center>
    </h3>
    <div class="card-block">
      <%= form_for @small_producer, url: {action: 'update'}, html: { method: :put } do |f|%>
        <% @small_producer.form_fields.each do |key, hsh| %>
          <div class='row'>
            <div class='col-md-6' align='right'>
              <strong><%= format_field(key) %></strong>
            </div>
            <div class='col-md-6'>
              <% if hsh[:field_type] == 'number' %>
                <%= f.number_field key, required: hsh[:required], placeholder: 0, step: :any %>
              <% elsif hsh[:field_type] == 'text' %>
                <%= f.text_field key, required: hsh[:required], value: @small_producer.attributes[key.to_s] %>
              <% elsif hsh[:field_type] == 'boolean' %>
                <%= f.check_box key %>
              <% elsif hsh[:field_type] == 'collection' %>
                <%= f.collection_select key, hsh[:choices], hsh[:field], hsh[:field], include_blank: hsh[:required] %>
              <% end %>
            </div>
          </div>
        <% end %>
        <center><%= f.submit 'Save', class: ["btn", "btn-primary", "devise-btn"] %></center>
      <% end %>
    </div>
    <div class="card-footer">
      <%= link_to 'Registrations List', business_registrations_path(business_id: @business.id), class: ['btn btn-sm btn-outline-primary', 'show-btn-lg'] %>
    </div>
  </div>
</div>
