<% if report_form_data.any? %>
    <div class="centre-wide">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>

          <th>Business</th>
          <th>Date last sent</th>
          <th>Status</th>
          <th>Errors</th>
          <th>
            <%= label_tag('Select All') %>
            <%= check_box_tag 'selectAll', 1, checked = false, {onclick: "return checkAll();"} %>
          </th>
        </tr>
        </thead>
        <tbody>
        <% report_form_data.each do |report_form| %>
            <%= fields_for "businesses[#{report_form.business_id}]", report_form do |rf| %>
                <tr>
                  <td><%= rf.label :business_name, report_form.business_name %></td>
                  <td><%= label_tag report_form.emailed_report ? report_form.emailed_report.date_last_sent : 'Report not yet sent' %></td>
                  <td><%= label_tag report_form.emailed_report ? EmailedStatus.where(id: report_form.emailed_report.emailed_status_id).first.status : 'N/A' %></td>
                  <td><%= label_tag report_form.emailed_report ? report_form.emailed_report.error_notices : 'N/A' %></td>
                  <% if report_form.email_contact_present %>
                      <td><%= rf.check_box :email %></td>
                  <% else %>
                      <td><%= label_tag 'Contact not present' %></td>
                  <% end %>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="actions centre">
      <%= submit_tag 'Email Report', class: 'btn btn-primary devise-btn' %>
    </div>
<% else %>
    <% if stop_spinner %>
        <div class='field centre'> <h3>No Members to show</h3></div>
    <% else %>
        <div class='field centre'> <%= image_tag('ajax-loader.gif', :alt => 'spinner', id: 'loadingSpinner', style: 'margin-left: 110px') %></div>
        <% if errors.any? %>
            <% errors.each do |error| %>
                <div class="devise-lgn bg-danger centre"> <%= error %>*</div><br/>
            <% end %>
        <% end %>
    <% end %>
<% end %>