<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header"><center><%= "Reports for #{@scheme.name}" %></center></center></h3>

    <div class="card-block">
      <p class="card-text">
        <%= form_tag controller: :reports, action: :create do %>
          <div class="field centre">
            <%= select_tag "report", options_for_select(@reports), {:class => 'devise-lgn form-control', :prompt => 'Select Report'} %>
          </div>
          <div class="field centre">
            <%= select_tag "year", options_for_select(@years), {:class => 'devise-lgn form-control', onchange: "return yearChanged(this);", :prompt => 'Select Year'} %>
          </div>

          <div id="report_data">
            <%= render partial: 'report_data_grid', locals: {report_form_data: @report_form_data, errors: [], stop_spinner: false} %>
          </div>
        <% end %>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to 'Back to Scheme', @scheme, class: ['btn btn-sm btn-outline-primary', 'show-btn-lg'] %>
    </div>
  </div>
</div>
