<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/layout_header' %>
  </head>

  <body>
    <div class="container-fluid">
      <header>
        <%= render 'layouts/messages' %>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/auth_nav_links' %>
      </header>

      <main role="main">
       <%= yield %>
      </main>
  </body>
</html>